venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
tests/v0/integration/application-charm/lib/charms/data_platform_libs/v0/database_requires.py
tests/v0/integration/database-charm/lib/charms/data_platform_libs/v0/database_provides.py
tests/v0/integration/application-charm/lib/charms/data_platform_libs/v0/data_interfaces.py
tests/v0/integration/application-s3-charm/lib/charms/data_platform_libs/v0/s3.py
tests/v0/integration/database-charm/lib/charms/data_platform_libs/v0/data_interfaces.py
tests/v0/integration/kafka-charm/lib/charms/data_platform_libs/v0/data_interfaces.py
tests/v0/integration/s3-charm/lib/charms/data_platform_libs/v0/s3.py
tests/v1/integration/application-charm/lib/charms/data_platform_libs/v1/database_requires.py
tests/v1/integration/database-charm/lib/charms/data_platform_libs/v1/database_provides.py
tests/v1/integration/application-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/application-s3-charm/lib/charms/data_platform_libs/v1/s3.py
tests/v1/integration/database-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/kafka-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/s3-charm/lib/charms/data_platform_libs/v1/s3.py'
tests/v1/integration/backward-compatibility-charm/lib/charms/data_platform_libs/v0/data_interfaces.py
tests/v1/integration/backward-compatibility-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/opensearch-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/kafka-connect-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/dummy-database-charm/lib/charms/data_platform_libs/v1/data_interfaces.py
tests/v1/integration/application-charm/lib/charms/operator_libs_linux/v2/snap.py
tests/v1/integration/application-charm/lib/charms/tls_certificates_interface/v4/tls_certificates.py
.vscode/
.idea/
